// Specific CSS for your home-page

col {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

  #myPlant {
    min-width: 100%;
    opacity: 0.7;
}

.headcontainer {
  position: relative;
  text-align: center;
  color: white;
  img {
    max-height: 590px;
  }
}

.centered {
  position: absolute;
  flex-direction: column;
  width: 35%;
  height: 47%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(231, 238, 231, 0.4);
  h2 {
    font-size: 50px;
  }
}

.overlay {
  opacity: 1
}

.form-flex {
    width: 70% !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: normal !important;
}

.button {
  font-size: 16px;
  width: 90px;
  height: 33px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 5px 1px rgb(103, 153, 100);
  background-color: rgb(58, 90, 64) !important;
  transition: 0.3s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px rgb(103, 153, 100);
  }
}




.button-modal {
  width: 94px;
  height: 33px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px darkgrey;
  color: white;
  background-color: rgb(58, 90, 64) !important;
  transition: 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}
