// Specific CSS for your home-page
a {
  text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }

col {
  padding-left: 0;
  padding-right: 0;
}

.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
