.card-img-show {
  max-height: 330px;
}

.home-card-img {
  transition: 0.2s;
  padding: 0;
    &:hover {
      box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
      transform: scale(1.02);
      cursor: pointer;
  }
}

.info-card {
  transition: none;
  &:hover {
    transform: none;
  }
}

.modal-img {
  max-height: 250px;
}

.form-control {
  width: 75% !important;
  display: inline !important;
  padding-left: 5px;
}

.form-label {
  padding-right: 10px !important;
}

.my-listings {
  min-height: 400px
}

.card-footer {
  background-color: rgb(190, 213, 181) !important;
}

.card-body {
  background-color: rgb(218, 215, 205) !important;
}

.card-header {
  background-color: rgb(58, 90, 64) !important;
  h3 {
    color: white;
  }
}

// .card-text {

// }

.info-card {
  background-color: rgb(250, 251, 245) !important;
}
