</div>
  <h3>Thank you for using<br><b>Botanical Bazaar</b></h3>
  <p>You just booked a <%= booking.plant.species%>!</p>
  <%= cl_image_tag booking.plant.photos[0].key, class: "modal-img" %>
  <div class="align-center">
    <button class="btn btn-primary confirmation-buttons"><%= link_to "Keep Searching!", plants_path %></button>
    <button class="btn btn-primary confirmation-buttons"><%= link_to "My Bookings", bookings_path %></button>
  </div>
</div>
