
<div id="Modal1" class="modal fade">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-4">
      <%# Rendering Bookings Form %>
      <%= render "shared/form" %>
    </div>
    <button type="submit" class="button btn-block pb-4" value="send" name="">Submit</button>
  </form>
</div>
