<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img src="/app/assets/images/logo-2.jpg">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Spider Plant..." aria-label="Search a plant">
      <button class="btn btn-outline-success" type="submit"><%= link_to "search", plants_path %></button>
    </form>
    <img class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="btn-group">
          <span class="avatar fa-solid fa-user dropdown-toggle mr-3" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
            <li><a class="dropdown-item" href="../users/sign_up">Sign Up</a></li> <%# Need to add proper path %>
            <li><a class="dropdown-item" href="#">User Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "My Listings", my_listings_plants_path, class: "dropdown-item"%></li>
            <li><a class="dropdown-item" href="#">Help</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link active mr-3" aria-current="page" href="/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
