.home-card {
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgb(245, 244, 243) !important;

  .card-img {
    height: 510px;
    border-radius: 15px;
  }
  p {
    word-wrap: break-word;
  }
}

.card-footer {
    color: white;
    background-color: rgb(58, 90, 64) !important;
  }

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.card-img {
  height: 510px;
  border-radius: 15px;
}

.card-body {
  border: none;
}

.inner-cards {
  align-items:center;
}

.card {
  border-radius: 20px !important;
  border-radius: 20px !important;
  overflow: hidden;
}

// .inner-cards.img {
//   object-fit: fill !important;
// }
