.c-modal {
  padding: 20px;
  position: fixed;
  z-index: 10;
  left: 50%;
  width: 34%;
  height: 85%;
  top: 50%;
  transform: translate(-500%, -50%);
  background-color: white;
  // border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px darkgrey;
  background-color: #dad7cd !important;
  transition: transform .5s ease;
  &.show {
    transform: translate(-50%, -50%);
  }
  .modal-img {
    max-height: 50% !important;
    padding-bottom: 10px;
  }
  .inner-text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.card-header {
  background-color: rgb(58, 90, 64) !important;
  h3 {
    color: white;
  }
}


.card-header {
  background-color: rgb(58, 90, 64) !important;
  h3 {
    color: white;
  }
}






.con-modal {
  padding: 20px;
  position: fixed;
  z-index: 10;
  left: 50%;
  width: 34%;
  height: 60%;
  top: 50%;
  transform: translate(-500%, -50%);
  background-color: white;
  // border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px darkgrey;
  background-color: rgb(58, 90, 64) !important;
  color: white;
  transition: transform .5s ease;
  &.show {
    transform: translate(-50%, -50%);
  }
  .modal-img {
    max-width: 60% !important;
    max-height: 60% !important;
    padding-bottom: 5px;
  }
}



.modal-btn {

}

.modal-inner-text {
  padding: 2% 5%;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  background-color: rgb(58, 90, 64) !important;
  box-shadow: 0px 0px 2px 1px darkgrey;
  border-radius: 10px;
  flex-direction: row;
  align-content: space-around;
  align-items: stretch;
  color: white;
  justify-content: space-evenly;

  h5 {
    padding-top: 5px !important;
  }
}






.confirmation-buttons {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  text-decoration: none !important;
  width: 114px;
  text-decoration: none !important;
  color: white !important;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(58, 86, 57);
  background-color: #dad7cd !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px rgb(103, 153, 100);
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}
