.c-modal {
  padding: 20px;
  position: fixed;
  z-index: 10;
  left: 50%;
  width: 34%;
  height: 85%;
  top: 50%;
  transform: translate(-500%, -50%);
  background-color: white;
  // border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px darkgrey;
  background-color: rgb(190, 213, 181) !important;
  transition: transform .5s ease;
  &.show {
    transform: translate(-50%, -50%);
  }
  .modal-img {
    max-height: 50% !important;
    padding-bottom: 10px;
  }
  .inner-text {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.con-modal {
  padding: 20px;
  position: fixed;
  z-index: 10;
  left: 50%;
  width: 34%;
  height: 60%;
  top: 50%;
  transform: translate(-500%, -50%);
  background-color: white;
  // border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px darkgrey;
  background-color: rgba(191, 227, 191, 1);
  transition: transform .5s ease;
  &.show {
    transform: translate(-50%, -50%);
  }
  .modal-img {
    max-width: 60% !important;
    max-height: 60% !important;
    padding-bottom: 5px;
  }
}




.modal-btn {

}

.modal-inner-text {
  padding: 2% 5%;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  background-color: rgba(109, 187, 109, 0.4);
  box-shadow: 0px 0px 2px 1px darkgrey;
  border-radius: 10px;
  flex-direction: row;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-evenly;

  h5 {
    padding-top: 5px !important;
  }
}

.confirmation-buttons {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-content: normal;
  justify-content: space-evenly !important;
  align-items: center;
  font-size: 16px;
  margin: 10px;
  text-decoration: none !important;
  width: 100px;
  text-decoration: none !important;
  // height: 33px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(58, 86, 57);
  background-color: #5da25d !important;
  transition: 0.3s;
  border: 1px solid black;
  &:hover {
    text-decoration: none !important;
    transform: scale(1.02);
    box-shadow: 0px 0px 5px 2px rgb(103, 153, 100);
  }
  a {
    text-decoration: none !important;
    color: black;
  }
}

// .button {
//   font-size: 16px;
//   width: 89px;
//   height: 33px;
//   border-radius: 10px;
//   box-shadow: 0px 0px 5px 1px rgb(103, 153, 100);
//   background-color: #5da25d;
//   transition: 0.3s;
//   &:hover {
//     transform: scale(1.02);
//     box-shadow: 0px 0px 5px 2px rgb(103, 153, 100);
//   }
// }
