.c-modal {
  padding: 20px;
  position: fixed;
  z-index: 10;
  left: 50%;
  width: 34%;
  height: 80%;
  top: 50%;
  transform: translate(-500%, -50%);
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px darkgrey;
  background-color: rgba(191, 227, 191, 1);
  transition: transform .5s ease;
  &.show {
    transform: translate(-50%, -50%);
  }
}

.modal-img {
  max-height: 50% !important;
}


.modal-btn {

}

.modal-inner-text {
  padding: 2% 5%;
  display: flex;
  background-color: rgba(109, 187, 109, 0.4);
  flex-direction: row;
  align-content: space-around;
  align-items: stretch;
  justify-content: space-evenly;
}
