.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

#avatar-drop {
  display: inline;
  width: 33px !important;
  color: #48ad6b;
  &:hover{
    cursor: pointer;
  }
}

.dropdown-toggle {
  width: 33px;
}

.fa-2xl {
  font-size: 3em !important;
}


.dropdown-toggle {
  &:after {
  display: none !important;
  }
}
